

<div class="container">

  <h1>Restaurants</h1>
  <%@restaurants.each do |restaurant| %>
    <h3><%= restaurant.name %></h3>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  <% end %>

  <ul class="list-unstyled mt-3"><li>
    <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-warning btn-lg"%>
  </li></ul>
</div>
